
.checkmarks-container {

    height: 80vh;

    font-size: 0.75em;

}

.tick-img {
    width: 25px;

    opacity: 0;

}

.body-of-text {

    font-size: x-large;

}

.bg-lightish {

    background-color: rgb(241, 241, 241);

}
